azure-cognitiveservices-speech 
charset-normalizer
ckip-transformers    
FFmpeg
numpy
pydub
pymongo==3.12.1
PyQt5                          
PyQt5-Qt5                      
PyQt5-sip                      
PyQtChart                      
PyQtChart-Qt5                  
pywin32-ctypes
PyYAML
QtAwesome
QtPy
requests
sympy
torch
transformers
pyinstaller
virtualenv
