QWidget {
    background-color: white;
    font-family: 'Microsoft YaHei';
}

QPushButton
{
    border: 2px outset #CCCCCC;
    border-radius: 10px;
}

QPushButton:pressed
{
    border: 2px inset #CCCCCC;
}

QMessageBox QPushButton
{
    width: 60;
}